@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all .5s;

}

:root {
    --nav-font: 'Maven Pro', sans-serif;
    --banner-h1-font: 'Titillium Web', sans-serif;
    --footer-font: 'Montserrat', sans-serif;
    --primary-color: #00aeef;
    --secondary-color: #ff9700;

    /* font-family: 'Maven Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Titillium Web', sans-serif; */
}

nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.812);
    box-shadow: 0px 0px 10px 0px rgba(236, 236, 236, 0.321);
    backdrop-filter: blur(4px);
}

.nav-padding {
    padding: 20px 100px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 750px;
}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link a {
    font-family: var(--nav-font);
    color: black;
    font-size: 15px;
    padding: 0px 10px;
    font-weight: 500;
}

.nav-link a:hover {
    color: #00aeef;
}

.dropdown {
    display: none;
}


.banner-padding {
    padding: 150px 0px 0px 0px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 60px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: matrix(1, 0, 0, -1, 0, 0);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
}

.banner-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--nav-font);
    vertical-align: middle;
}

.banner-intro svg {
    width: 24px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hi {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    vertical-align: middle;
}

.banner-heading {
    text-align: center;
}

.banner-heading h1,
h2 {
    font-size: 70px;
    font-family: var(--banner-h1-font);
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.03em;
    text-shadow: 3px 1px 0px #00aeef;
}

.banner-heading p {
    font-family: var(--nav-font);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding: 30px 0px 0px 0px;
}

.banner-container {
    width: 620px;
    position: relative;
}

.download {
    padding: 10px 15px;
    background: #00aeef;
    box-shadow: 2px 3px 0px #000000;
    border-radius: 63px;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    font-family: var(--nav-font);
    font-weight: 600;
}

.port {
    background: #FCFEFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    box-shadow: 2px 3px 0px #000000;
    border-radius: 63px;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    font-family: var(--nav-font);
    font-weight: 600;
}

.banner-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 0px;
    gap: 25px;
}

.port:hover {
    background: #bfbfbf;
}

.download:hover {
    background: var(--secondary-color)
}

/* .banner-element {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 955px;
    max-height: 578px
}

.vector-1 {
    grid-column: ;
} */


@media only screen and (max-width: 1024px) {
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70%;
    }

    .nav-padding {
        padding: 20px 40px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        min-width: 160px;
        width: 500px;
        height: 160px;
        top: calc(100% + 12px);
        background-color: rgb(255, 255, 255);
        border: 1px solid #00afef25;
        border-radius: 6px;
        box-shadow: 0px 1px 19px 0px #00afef25, 0px 0px 48px 0px hsla(30, 78%, 91%, .6);
        padding: 14px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .nav-link {
        display: none;
    }

    .dropdown svg {
        font-size: 30px;
        color: black;
    }

    .drop-link {
        display: flex;
        flex-direction: column;
    }

    .drop-link a {
        font-family: var(--nav-font);
        color: black;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 0px;
    }

    .drop-link a:hover {
        color: #00aeef;
    }
}

@media only screen and (max-width: 768px) {
    .dropdown-content {
        right: calc(100% + -85px);
    }
}

@media only screen and (max-width: 425px) {
    /* .dropdown-content {
        width: 400px;
        height: 80%;
    } */
}